body {
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	margin: 51px 21px 0 21px;
}

.full-width {
	width: 1200px;
	overflow: auto;
	margin-right: 0;
}

.half-width {
	width: 600px;
	float: left;
}

.third-width {
	width: 400px;
	float: left;
}

header {
	height: 51px;
	margin-bottom: 40px;
	


}

header h1 {
	color:#77a466;
	text-transform: uppercase;
	margin: 0;

}

header h1 span {
	color: black;
}

header .full-width{
/*	margin-right: 21px;
*/}


nav {
	float: right;
	margin: 0;
	
}

nav ul li {
	display: inline-block;

}

nav ul li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #77a466 ;
	padding-left: 10px;
	font-weight: bold;

}

h2 {
	text-transform: uppercase;
	color: #77a466 ;
	font-weight: bold;
	font-size: 18px;
	margin-right: 0;
}

#top-section .full-width{
	height: 292px;
	margin-right: 0;
}

#top-section .full-width-p{
	width: 1160px;
	overflow: auto;
	margin-right: 0;
}

#bottom-section .full-width {
	border-top: .25px solid grey;
	border-bottom: .25px solid grey;
	margin-right: 0;
	margin-left: 0;
	width: 1272px;
}


#bottom-section .third-width {
	max-height: 210px;
	padding-left: 23px;
}

#one.third-width{
	border-right: .25px solid grey;
}

#two.third-width{
	border-right: .25px solid grey;
}




#bottom-section .third-width h3{
	font-size: 12px;
	padding-top: 30px;
	margin: 0 0 20px 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

#bottom-section .third-width p{
	font-size: 16px;
	margin: 0;
}

#bottom-section .third-width ul li{
	font-size: 16px;
	list-style-type: none;
	padding-bottom: 20px;
	color:#77a466 ;

}


#bottom-section .third-width ul{
	margin-left: 0;
	padding: 0;
}



.footer-note {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

.footer-note span{
	font-family: 'Galada', cursive;
	color:#77a466 ;
	font-size: 14px;
}



































